# Data Mining Project - Survival Analytics

Project Details: Advanced lung cancer survival analysis
1. Determine survival chance with Kaplar Meyer Estimation.
2. Diference between Male and Female population

Important links: https://pypi.org/project/lifelines --> Documentation to Survival Analysis

Dataset details:
inst: Institution code
time: Survival time in days
status: censoring status 1=censored, 2=dead
age: Age in years
sex: Male=1 Female=2
ph.ecog: ECOG performance score as rated by the physician. 0=asymptomatic, 1= symptomatic but completely ambulatory, 2= in bed <50% of the day, 3= in bed > 50%of the day but not bedbound, 4 = bedbound
ph.karno: Karnofsky performance score (bad=0-good=100) rated by physician
pat.karno: Karnofsky performance score as rated by patient
meal.cal: Calories consumed at meals
wt.loss: Weight loss in last six months

Dependent Variable = Status

In [1]:
# Import libraries
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from lifelines import KaplanMeierFitter # Kaplan-Meier model
from lifelines.statistics import logrank_test  # Statistical test

In [2]:
# Import Dataset from statsmodel api
dataset = sm.datasets.get_rdataset("lung", package="survival").data

In [6]:
# Transforming dependent variables based on inputs from the document
dataset.loc[dataset.status == 1, "status"] = 0
dataset.loc[dataset.status == 2, "status"] = 1

dataset.head()

,inst,time,status,age,sex,ph.ecog,ph.karno,pat.karno,meal.cal,wt.loss
223,1.0,188,0,77,1,1.0,80.0,60.0,NaN,3.0
224,13.0,191,0,39,1,0.0,90.0,90.0,2350.0,-5.0
225,32.0,105,0,75,2,2.0,60.0,70.0,1025.0,5.0
226,6.0,174,0,66,1,1.0,90.0,100.0,1075.0,1.0
227,22.0,177,0,58,2,1.0,80.0,90.0,1060.0,0.0